[epel-yum]
name=Epel Packages for Enterprise $releasever - $basearch
baseurl=http://pxplux10.dns20.socgen:8162/media/others/epel/$releasever-$basearch-epel
        http://pxplux20.dns20.socgen:8162/media/others/epel/$releasever-$basearch-epel
        http://pxplux30.dns20.socgen:8162/media/others/epel/$releasever-$basearch-epel
enabled=1
gpgcheck=0
keepcache=0

