<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Sign&go WEB agent Configuration file -->

<!-- Info: To comment out the parameters (to ignore them), you can use XML comments.
     Note: In this file, some elements are de-activated by prepending two underscores to the TAG name. (ex: replace "__FilteredUrls"  by  "FilteredUrls" to activate)
 -->
<Config>
  <Agent>
	<!-- Change between env -->
	<Name>SG_APACHEAPP_PRO</Name>
	<!-- Change between env -->
    <Pass>Ciphered:AAEAELj1PebAiZgUnX4y9n0KRJkAAgAgqli8n0FOe0EoUfs52ed2zoORl793ghTw4/K8RrufuCE=</Pass>

    <AgentLogMask>0x07000386</AgentLogMask>
    <LogLevel>5</LogLevel>

    <AgentLogFile1>sngLogAg1.log</AgentLogFile1>
    <AgentLogFile2>sngLogAg2.log</AgentLogFile2>

    <MaxLogSize>2000</MaxLogSize>
	
	<!-- Path of the "lang" directory which contains language files
		 It could be a relative path of the Sign&go agent directory or an absolute path -->
	<LangDirectoryPath>.</LangDirectoryPath>
	<!-- Default language used when the Sign&go agent is not able to determine the client language.
		 Use 2 (fr/en) or 3 (lang/SngAgStrings_XXX.xml, where XXX is the code) characters code -->
	<DefaultLanguage>en</DefaultLanguage>

    <QueryTimeout>120</QueryTimeout>
    <IncludeHostname>1</IncludeHostname>
    <FilterPriority>1</FilterPriority>
    <Role>0</Role>
    <IsaServer>0</IsaServer>
    <CertInfo>0</CertInfo>
    <CacheSize>2500</CacheSize>
    <sBufMin>256</sBufMin>
    <sBufMax>8192</sBufMax>
    <nRefusAdjust>512</nRefusAdjust>
    <nRefusRazStats>512</nRefusRazStats>
    <ListSize>20000</ListSize>
    <BadUrlPatterns></BadUrlPatterns>
    <BadUrlValues>00-1f</BadUrlValues>
    <ForwardedForHttpHeader></ForwardedForHttpHeader>
    <RqtBodyLenLimit>8000</RqtBodyLenLimit>
    <BlackListDelay>120</BlackListDelay>
  </Agent>

  <Servers>
    <LoadBalancing>0</LoadBalancing>
    <NbCnxMax>0</NbCnxMax>
    <ReceiveTimeout>0</ReceiveTimeout>
    <ConnectTimeout>10</ConnectTimeout>
    <TotalWaitDelay>10</TotalWaitDelay>

	<!-- Here you will need a certificate. Refer to SAFE Documentation to know how to get them -->
	
	<!-- FULL ABSOLUTE path to your certificate -->
    <CertFile>{{certificate}}</CertFile>
    <KeyPwd></KeyPwd>
	
	<!-- This file is given in the package, just put the FULL ABSOLUTE path to it -->
    <CAFile>/etc/httpd/modules_safe/catrust.pem</CAFile>

    <Server>
      <Type>1</Type>
	  
	  <!-- Change between env -->
      <HostName>pafep-sec.dns20.socgen</HostName>

      <Port>3102</Port>
      <ssl>1</ssl>
      <nCnx>20</nCnx>
      <Frequency>1</Frequency>

    </Server>
  </Servers>
  <FilteredUrls>
    <TTL> 0 </TTL>
    <Protect> 0 </Protect>
    <Case> 0 </Case>

    <!-- Pictures -->
	<Url>*.bmp</Url>
	<Url>*.gif</Url>
	<Url>*.ico</Url>
	<Url>*.jpg</Url>
	<Url>*.jpeg</Url>
	<Url>*.png</Url>
	<Url>*.svg</Url>
	<Url>*.tif</Url>
	<Url>*.tiff</Url>
	
	<!-- Musics -->
	<Url>*.aac</Url>
	<Url>*.aif</Url>
	<Url>*.aifc</Url>
	<Url>*.aiff</Url>
	<Url>*.flac</Url>
	<Url>*.oga</Url>
	<Url>*.ogg</Url>
	<Url>*.mp3</Url>
	<Url>*.mp4</Url>
	<Url>*.wav</Url>
	<Url>*.wma</Url>
	
	<!-- Videos -->
	<Url>*.asf</Url>
	<Url>*.avi</Url>
	<Url>*.mkv</Url>
	<Url>*.mpeg</Url>
	<Url>*.mpg</Url>
	<Url>*.mov</Url>
	<Url>*.nut</Url>
	<Url>*.ogm</Url>

	<Url>*.rm</Url>
	<Url>*.weba</Url>
	<Url>*.webm</Url>
	<Url>*.wmv</Url>
	<Url>*.3gp</Url>
	<Url>*.3g2</Url>
	
	<!-- Flash -->
	<Url>*.swf</Url>
  </FilteredUrls>
  <ErrorPages>
    <DenyAccess>  </DenyAccess>
    <BadUrl>  </BadUrl>
    <SystemError>  </SystemError>
    <LogoutPage>  </LogoutPage>
  </ErrorPages>

</Config>

